In [36]:
### Welcome back!
# Today we're going to learn some core coding skills, like writing for loops
# This will be a bit of a grind because it's learning the core and fundamental
# aspects of coding but it's essential, and the key is to just keep doing them
# over and over until they are second nature.
# Repetition is the key.

In [37]:
# First up FOR LOOPS
# First the syntax

#for EVERY ITEM IN A SEQUENCE OF ITEMS:
    #INDENT DO SOMETHING TO THAT ITEM
    
# Note the key here is the FOR statement that triggers the iteration process
# then the COLON to break that statement
# then the indent to start the next statement
# and last, the command to do something with the item you've isolated

# Let's try some examples

In [38]:
# For loop for a string

my_string = 'I am a person who enjoys listening to music.'

for word in my_string: 
    print(word)

I

a
m

a

p
e
r
s
o
n

w
h
o

e
n
j
o
y
s

l
i
s
t
e
n
i
n
g

t
o

m
u
s
i
c
.

In [39]:
# For loop for a list

my_list = my_string.split()

my_list

['I', 'am', 'a', 'person', 'who', 'enjoys', 'listening', 'to', 'music.']

In [40]:
# Continue

for thingy in my_list:
    print(thingy)

I
am
a
person
who
enjoys
listening
to
music.

In [41]:
# # What about this?

# my_float = 987.089

# for digit in my_float:
#     print(digit)

In [42]:
# For loops in for loops to extract items in nested objects

big_list = [['dog', 'cat', 'bird', 'pig'], ['apple', 'orange', 'mango', 'kiwi']]

# what happens here?

for lst in big_list:
    print(lst)

['dog', 'cat', 'bird', 'pig']
['apple', 'orange', 'mango', 'kiwi']

In [43]:
# How do we get each individual item tho?

for lst in big_list:
    print(lst)
    for item in lst:
        print(item)
        for character in item:
            print(character)
            #for thingy in character:
                #print(thingy)

['dog', 'cat', 'bird', 'pig']
dog
d
o
g
cat
c
a
t
bird
b
i
r
d
pig
p
i
g
['apple', 'orange', 'mango', 'kiwi']
apple
a
p
p
l
e
orange
o
r
a
n
g
e
mango
m
a
n
g
o
kiwi
k
i
w
i

In [44]:
# Append
# A useful thing to do is to append or save items at the end of a for loop
# That is, let's just not do something at the of the for loop like print, but let's
# save that output for later!

# The logic is first create a CONTAINER - usually that's an EMPTY LIST

new_list = []

# Then run your for loop

for lst in big_list:
    for item in lst:
        
        # But now instead of just printing, let's save the output to our container
        
        new_list.append(item) # the syntax is CONTAINER PERIOD "APPEND" and then parenthesis THE THING

In [45]:
#sanity check
#new_list[0][0]
new_list[1]

'cat'

In [46]:
# OK

new_list

# Wallah!

['dog', 'cat', 'bird', 'pig', 'apple', 'orange', 'mango', 'kiwi']

In [47]:
# Let's try it again, practice makes perfect!

new_new_list = []

for item in new_list:
    new_new_list.append(item)
    
new_new_list

['dog', 'cat', 'bird', 'pig', 'apple', 'orange', 'mango', 'kiwi']

In [ ]:
### IF STATEMENTS
# A second key type of command are IF statements
# The logic is simple - only do something IF a logical condition is met

# The syntax is
# IF SOME CONDITION
    # INDENT DO SOMETHING

# You can also add in an ELSE statement which is DO SOMETHING if THE IF CONDITION IS NOT MET

In [48]:
# Let's go!

if 'dog' in new_new_list:
    print("yo dog is indeed in this list!")

yo dog is indeed in this list!

In [49]:
if "snake" not in new_new_list:
    print("snake is not in this list at all!")

snake is not in this list at all!

In [50]:
if 'dog' not in new_new_list:
    print("yo it's not here!")

# ELSE statement logic!
else:
    print("it's still here! ")

it's still here!

In [51]:
### BOOLEAN LOGIC OPERATIONS

# A key thing to learn here is the use of logic operations using = and <> statements
# This is very simple; they are a away to check logical conditions of equal, greater or lesser

if 5 == 5.0:
    print("bippity bop hellooo")
    
else:
    print("I don't get this")

bippity bop hellooo

In [52]:
# = IS NO THE SAME AS ==

In [53]:
if 4 == 4: # note the double use of equation sign because a signal = means to assign a variable value!
    print("ditto, 4 is equal to 4")

ditto, 4 is equal to 4

In [54]:
if 4 >= 4:
    print("4 is less than or equal to 4")

4 is less than or equal to 4

In [55]:
# ==, <, >, <=, >=, != 'not equal'

In [56]:
# now this can be applied to other things like string values etc

if "dog" == "DOG":
    print('yup')

else:
    print('nah doesnt work')

nah doesnt work

In [57]:
if "cat" != "dog":
    print("yup")

yup

In [58]:
# OK let's put it together

filtered = []

for item in new_new_list:
    if item == 'dog':
        filtered.append(item)
        
filtered

['dog']

In [62]:
new_new_list

['dog', 'cat', 'bird', 'pig', 'apple', 'orange', 'mango', 'kiwi']

In [63]:
filtered2 = []

for item in new_new_list:
    if len(item) < 4:
        filtered2.append(item)
        
filtered2

['dog', 'cat', 'pig']

In [64]:
# One more thing, OR and AND operations!

filtered3 = []

for item in new_new_list:
    if (len(item) > 3 and len(item) <5):
        filtered3.append(item)
        
filtered3

['bird', 'kiwi']

In [76]:
filtered4 = []

for item in new_new_list:
    if (len(item) > 3 or item[0] == 'b'):
        filtered4.append(item)
        
filtered4

['bird', 'apple', 'orange', 'mango', 'kiwi']

In [65]:
# Layers!

f1 = []
f2 = []
f3 = []

for item in new_new_list:
    if len(item) > 3:
        f1.append(item)
    else:
        f2.append(item)
        
    if item[0] == 'b':
        f3.append(item)
            
f1, f2, f3

(['bird', 'apple', 'orange', 'mango', 'kiwi'], ['dog', 'cat', 'pig'], ['bird'])

In [ ]:
# Remember guys
#[] is list, '' is string, and () are TUPLES
# [(NJ, TRENTON, PATTERSON), (NY, ALBANY, NYC), (CA, SACREMENTO, LA)]

In [66]:
# One more trick

big_output = []

for item in new_new_list:
    for char in item:
        # We're creating a TUPLE here
        big_output.append((char, item)) # append multiple items

In [67]:
big_output # A list of TUPLES, everyone!

[('d', 'dog'),
 ('o', 'dog'),
 ('g', 'dog'),
 ('c', 'cat'),
 ('a', 'cat'),
 ('t', 'cat'),
 ('b', 'bird'),
 ('i', 'bird'),
 ('r', 'bird'),
 ('d', 'bird'),
 ('p', 'pig'),
 ('i', 'pig'),
 ('g', 'pig'),
 ('a', 'apple'),
 ('p', 'apple'),
 ('p', 'apple'),
 ('l', 'apple'),
 ('e', 'apple'),
 ('o', 'orange'),
 ('r', 'orange'),
 ('a', 'orange'),
 ('n', 'orange'),
 ('g', 'orange'),
 ('e', 'orange'),
 ('m', 'mango'),
 ('a', 'mango'),
 ('n', 'mango'),
 ('g', 'mango'),
 ('o', 'mango'),
 ('k', 'kiwi'),
 ('i', 'kiwi'),
 ('w', 'kiwi'),
 ('i', 'kiwi')]

In [68]:
# Important check your datatypes!

type(big_output), type(big_output[0]), type(big_output[0][0])

(list, tuple, str)

In [69]:
#sanity check
print(big_output[2])

('g', 'dog')

In [70]:
# Quick note about TUPLES, a new datatype!

tups = [('dog', 'bark'), ('cat', 'meow'), ('snake', 'hiss')]

for tup in tups:
    print('TUPLE COMING UP GUYS')
    print(tup)
    
    print('STRING COMING UP NOW GUYS')
    for item in tup:
        print(item)

TUPLE COMING UP GUYS
('dog', 'bark')
STRING COMING UP NOW GUYS
dog
bark
TUPLE COMING UP GUYS
('cat', 'meow')
STRING COMING UP NOW GUYS
cat
meow
TUPLE COMING UP GUYS
('snake', 'hiss')
STRING COMING UP NOW GUYS
snake
hiss